<style>
		
			  form #fields-row {
			  	margin:5px;
			  }
</style>

<div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{PAGE_TITLE}</h1>
        <p class="lead blog-description">Sample Blog Site</p>
      </div>
      
      <div class="row">
      	{LISTFORM_HTML}	
      </div>
</div>      			  


 