<style>
		
			  form #fields-row {
			  	margin:5px;
			  }
</style>			  
<div id="module_title">{MODULE_TITLE}</div>
<div id="page_title">{PAGE_TITLE}</div>

<!--  Listing -->
<div id="content-wrapper">
	{FORM_HTML}
	<div class="system-message">{SYSTEM_MESSAGE}</div>
	<div class="success-message">{SUCCESS_MESSAGE}</div>
	<div class="failed-message">{FAILED_MESSAGE}</div>				
	{BUTTONS_HTML}
	{LISTFORM_HTML}	
	{BUTTONS_HTML}
<!--  /Listing -->		
</div>