<div class="container">

      <div class="row">
          <div class="blog-post">
            <h2 class="blog-post-title">{PAGE_TITLE}</h2>
            <p class="blog-post-meta">{DATE} by <a href="#">{AUTHOR}</a></p>
                  
		</div>
	</div>	
	<div class="row">		
        <div class="col-md-12 col-lg-12">{IMAGE}</div>
		<div class="col-md-12 col-lg-12">{POST_CONTENT}</div>
	</div>      