{FOOTER}
 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="skin/bootstrap3.3.1/ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="skin/bootstrap3.3.1/js/bootstrap.min.js"></script>
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="skin/bootstrap3.3.1/assets/js/ie10-viewport-bug-workaround.js"></script>		
