	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
	
	    <!-- Bootstrap -->
	    <link href="skin/bootstrap3.3.1/css/bootstrap.min.css" rel="stylesheet">
	    <link href="skin/bootstrap3.3.1/css/navbar-fixed-top.css" rel="stylesheet">
		
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->		
	    <title>{TITLE}</title>
		<!-- stylesheets and jquery -->
		<link href="skin/css/reset.css" type="text/css" rel="stylesheet" />
		<link href="skin/css/style.css" type="text/css" rel="stylesheet" />
		<!--  link href="../skin/css/jquery-ui-1.8.10.custom.css" type="text/css" rel="stylesheet" />		
		<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../js/jquery/plugins/jquery-ui-1.8.10.custom.min.js"></script !-->	
		<!-- common js needs -->
		<!-- script>			
			jQuery(function($){
				$('[fieldtype="date"]').datepicker({
					dateFormat:"mm/dd/yy",changeYear:true,changeMonth:true
				});	
			
			}); 
			// relinquish the use of $ for jQuery use if other js library uses $ as well
			jQuery.noConflict();
		</script !-->
		<script src="www/js/jquery/jquery-1.8.0.js" type="text/javascript"></script>		
		<!-- this can be mixture of css, script and file inclusions valid within meta tag -->
		{HEAD}
		<!-- end -->
		<!-- other placeholders assigned by default to the template -->		
		<!-- BEGIN css_file -->
			<link href="{css_file.FILE}" type="text/css" rel="stylesheet" />
		<!-- END css_file -->		
		<!-- BEGIN js_script -->
			<script type="text/javascript" src="{js_script.FILE}"></script>
		<!-- END js_script -->				

	</head>	