	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<title>{TITLE}</title>
		<!-- stylesheets and jquery -->
		<link href="skin/css/reset.css" type="text/css" rel="stylesheet" />
		<link href="skin/css/style.css" type="text/css" rel="stylesheet" />
		<!--  link href="../skin/css/jquery-ui-1.8.10.custom.css" type="text/css" rel="stylesheet" />		
		<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../js/jquery/plugins/jquery-ui-1.8.10.custom.min.js"></script !-->	
		<!-- common js needs -->
		<!-- script>			
			jQuery(function($){
				$('[fieldtype="date"]').datepicker({
					dateFormat:"mm/dd/yy",changeYear:true,changeMonth:true
				});	
			
			}); 
			// relinquish the use of $ for jQuery use if other js library uses $ as well
			jQuery.noConflict();
		</script !-->
		<script src="www/js/jquery/jquery-1.8.0.js" type="text/javascript"></script>		
		<!-- this can be mixture of css, script and file inclusions valid within meta tag -->
		{HEAD}
		<!-- end -->
		<!-- other placeholders assigned by default to the template -->		
		<!-- BEGIN css_file -->
			<link href="{css_file.FILE}" type="text/css" rel="stylesheet" />
		<!-- END css_file -->		
		<!-- BEGIN js_script -->
			<script type="text/javascript" src="{js_script.FILE}"></script>
		<!-- END js_script -->				

	</head>	