/* calendar styles */

div#capContainer{	
	width: 90%;
	/*border: 1px solid #f0f0f0;*/
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
}

div#capContainer div#left-div{
	float: left;
	cursor: pointer;
	display: block;
	background: url(../images/cal-btn-prev.gif) no-repeat;
	width: 62px;
	color: #fff;
}

div#capContainer div#right-div{
	background: url(../images/cal-btn-next.gif) no-repeat;
	color: #fff;
	cursor: pointer;
	display: block;
	float: right;
	width: 62px;
}

div#capContainer div#center-div{
	font-size: 150%;
	display: block;
}

* html table.cal{
	width: 90%;
}
* html div#capContainer{
	width: 100%;
}

table.cal{	
	width: 90%;	
}

table.cal tbody tr td.pad{	
	background: #c6c6c6;
}

table.cal thead tr th{
	background: #f0f0f0;
	border: 0 none;
	padding: 5px 0;
}

table.cal thead tr{	
	border: 1px solid #f0f0f0;
}

table.cal col.saturday, table.cal col.sunday{
	background: #f0f0f0;
}

table.cal td.regular{
	background: #f0f0f0;
}

table.cal td.selected{	
	background: #EBF1FE;
	border: 1px dotted #38acec;
}

table.cal li{
	list-style: none;
}

table.cal td{	
	vertical-align: top;
	text-align: right;
	padding: 2px 3px 2px 3px;
	height: 70px;
	width: 120px;
	border: 1px #f0f0f0 solid;	
}

*html table.cal div.event{
	
}

table.cal td a{
	text-decoration: none;
	font-style: normal;
}

table.cal td a:hover{
	text-decoration: none;
}

table.cal td.highlighted{
	background: #fdbdbd;
}

table.cal div.event {
	vertical-align: top;
	background-color: #ffffff;
	border: 1px dotted #98AFC7;
	border-width: 1px 1px 1px 1px;
	list-style: none;
	margin: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	left: 0px;
	text-align: left;
}

table.cal div.event ul{
	padding: 11px 0;
	padding-left: 40px;
	width: 100%;
}

table.cal div.event ul li {
	left: 0px;
	list-style: none;
	text-align: left;
	margin-right: 1px;
	padding: 0;
}

table.cal div.event ul{
	margin-left: -30px;
}

table.cal td.listC {
	border: 1px solid #E9E9E9;
	height: 40px;
	padding: 0.3em 0.6em 0.6em;
	text-align: center;
	vertical-align: middle;
	width: 10%;
}

table.cal td.list{
	background: #F0F0F0 none repeat scroll 0 0;
	border: 1px solid #E9E9E9;
	height: 40px;
	padding: 0.3em 0.6em 0.6em;
	text-align: left;
	vertical-align: middle;
	width: 90%;
}

table.cal td.listHed{
	background: #E9E9E9 none repeat scroll 0 0;
	border: 1px solid #E9E9E9;
	font-size: 140%;
	height: 40px;
	padding: 0.3em 0.6em 0.6em;
	text-align: left;
	vertical-align: middle;
	/*width: 120px;*/
}

td.tableTd{
	background: #F0F0F0;
	border: 1px solid #D0E3F1 !important;
	padding: 10px;
	width: 12%;
}

input#event_title{
	background: #fff;
	border: 1px solid #D0E3F1;
	font-size: 110%;
	padding: 0 2px;	
	width: 15.5em !important;
}



form#mainform input[type="text"]:hover,
input#event_title:hover,
input#event_date:hover,
select#event_type:hover,
select#time_hrs:hover,
select#time_min:hover,
select#time_set:hover,
textarea#recipient_name:hover,
input#recipient_name:hover,
textarea#description:hover{
	border: 1px solid #f0f0f0;
}

form#mainform input[type="text"]:focus,
input#event_title:focus,
input#event_date:focus,
select#event_type:focus,
select#time_hrs:focus,
select#time_min:focus,
select#time_set:focus,
textarea#recipient_name:focus,
input#recipient_name:focus,
textarea#description:focus {
	border-color: #888;
	outline: 2px solid #E8EFFB;
}

input#event_date{
	background: #fff;
	border: 1px solid #D0E3F1;
	font-size: 110%;
	width: 10em !important;
	padding: 0 2px;	
}

select#event_type{
	border: 1px solid #D0E3F1;
	padding: 0 0.2em;
}

select#time_hrs, select#time_min, select#time_set{
	border: 1px solid #d0e3e1;
	padding: 0 0.2em;
}

textarea#recipient_name, input#recipient_name{
	border: 1px solid #D0E3F1;
	overflow: auto;
	width: 15.5em !important;
	font-size: 110%;
}

textarea#description{
	border: 1px solid #D0E3F1;
	font-size: 110%;
	overflow: auto;
	padding: 0 2px;
	width: 15.5em !important;	
}

div#recipient_name{
	text-align: left;
}

input#recipient{
	background: #fff;
	border: 1px solid #d0e3f1 ;
	margin: 5px 0;
}

input#save{
	background: #d0e3f1;
	border: 1px solid #5EB5FF !important;
	margin: 5px 0;
	float: right;
	cursor: pointer;
}

input#delete, input#reset{
	float: right;
	background: #FF9999;
	border: 1px solid #FF8F8F !important;
	margin: -11px 5px 5px 50px;
	cursor: pointer;
}

nobr b{
	font-size: 110%;
	line-height: 30px;
}

nobr input[type="checkbox"]{
	margin: 0;	
	background: #fff;
}



td.tableHeader{
	font-size: 130%;
}

/* end of calendar styles */