/* CSS-Only Menu */
/* ================================================================
This copyright notice must be kept untouched in the stylesheet at
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/pro_variable4.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any
way to fit your requirements.
=================================================================== */
#nav { 
	padding: 0 0 0 10px; 
	margin: 0; 
	list-style: none; 
	font-size: 120% !important;	
	position: relative; 
	z-index: 200;
	height: 20px;	
	/* width: 670px; */
	/* background:url(images/back.gif) no-repeat; */
}

#nav ul {
	padding: 0; 
	margin: 0; 
	list-style: none; 
	float: left; 
	background: #ccc; 
	border-top: 1px solid #fff;
}

#nav li {
	float: left;
}

#nav li li {
	float: none; 
	border-left: 1px solid #fff; 
	border-right: 1px solid #666;
	border-bottom: 1px solid #dcdcdc;
}

#nav li.last {
	border-bottom:1px solid #666;
}

/* a hack for IE6 */

* html #nav li li {
	float:left;	
	display: inline;	
}

#nav li a {
	display: block; 
	float: left; 
	color: #333333;
	height: 20px;
	padding: 0 25px 0 5px; 
	line-height: 20px; 
	text-decoration: none;
	white-space: nowrap; 
	font-style: normal !important;	
}

#nav li a.down {
	background: url(../images/menu-icons/down.gif) no-repeat right center;
}

#nav li li a {
	display: block;
	height: 20px; 
	line-height: 20px; 
	float: none;
	padding: 0 25px 0 5px; 
	font-weight: normal; 
	letter-spacing: 1px;
}

* html #nav li li a{	
	width: 295px;
}

#nav li li a.fly {
	background: url(../images/menu-icons/fly.gif) no-repeat right center;
}

#nav li:hover {
	position: relative; 
	z-index: 300;
}

#nav li.cssplay_hover {
	position: relative; 
	z-index: 300;
}

#nav li.cssplay_hover a {
	color: #333;
}

#nav li li a {
	color: #333;	
}

#nav li li.cssplay_hover a {
	color: #fff; 
	background-color: #aaa;
}

#nav li:hover ul {
	left: 0;
	top: 20px; 
	z-index: 500;
}

#nav li.cssplay_hover ul { 
	left: 0; 
	top: 20px; 
	z-index: 500;
}

#nav ul {
	position: absolute; 
	left: -9999px; 
	top: -9999px;}

* html #nav ul {
	width: 2px;
}

/* it could have been this simple if all browsers understood */
/* show next level */

#nav li:hover li:hover > ul {
	left: -5px;
	margin-left: 100%; 
	top: -1px; 
	z-index: 500;
}
	 
/* keep further levels hidden */

#nav li:hover > ul ul {
	position: absolute; 
	left: -9999px; 
	top: -9999px; 
	width: auto; 
}

/* show path followed */
#nav li:hover > a {
	color: #333;
}

#nav li li:hover > a {
	color: #fff; 
	background-color: #aaa;
}


/* but IE5.x and IE6 need this lot to style the flyouts*/
#nav li.cssplay_hover li.cssplay_hover a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover a {
	color: #fff;
	background-color: #aaa;	
}

#nav li.cssplay_hover li.cssplay_hover li a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li a,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li a {
	color: #333; 
	background-color: #ddd;
}

/* show next level */
#nav li.cssplay_hover li.cssplay_hover ul,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover ul,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover ul,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover ul {
	left: 100%; 
	margin-left: -5px; 
	top: -1px;
}

/* keep further levels hidden */
#nav li.cssplay_hover ul ul,
#nav li.cssplay_hover li.cssplay_hover ul ul,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover ul ul,
#nav li.cssplay_hover li.cssplay_hover li.cssplay_hover li.cssplay_hover ul ul {
	position: absolute; 
	left: -9999px; 
	top: -9999px;
}

img.menu-icon{
	border: 0;
	margin-right: 3px;
	position: relative;
	top: 3px;
}