/* Footer/Header CSS */
#footer{
	width: 99%;
	height: 25px;
	font-size: 11px;
	position: relative;
	bottom: 0;
	left: 0;
	clear: both;
	padding: 0 5px 0 5px;
}
.footer-r{
	float: right;
	margin-top: -25px;
	background: #fff url(../images/footer-r.gif) no-repeat; 
	height: 25px;
	width: 5px;
	font-size: 2px;
}

.footer-l{
	background: #fff url(../images/footer-l.gif) no-repeat;
	height: 25px;
	/* font-size: 2px;	 */
	z-index: 99;
	line-height: 100%;
}

.footer-content{
	margin: 0 5px 0 35%;
	background: #49ABFF url(../images/footer-filler.gif) repeat-x;
	height: 25px;
	color: #F0F0F0;
	line-height: 25px; /* to center text vertically */
	text-align: right;	
	font-size: 11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

.footer-icons{
	float: left;
	margin: 5px 5px 0 5px;
}

#crumbs { list-style: none; }
#crumbs li { display: inline; padding: 3px}

.delete_link {
	height: 15px;
	width: 15px;
	float: right;
	cursor: pointer;
	background: url(../../../skin-images/remove.png) no-repeat; 
}

.activate_link {
	height: 15px;
	width: 15px;
	float: right;
	cursor: pointer;
	background: url(../../../skin-images/activate.png) no-repeat; 
}

.deactivate_link {
	height: 15px;
	width: 15px;
	float: right;
	cursor: pointer;
	background: url(../../../skin-images/deactivate.png) no-repeat; 
}
