/* Home CSS */

* {
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
}

.content {
	border-left: 1px solid #a7a7a7;
	border-right: 1px solid #a7a7a7;
	background: #e4e4e4;
	padding: 5px 10px;
}

* html body{
	overflow: auto;	
}

#content-wrap{
	padding: 0 5px;	
	font-size: 95%;
}
	
div.cont-header{
	padding: 30px 0 0 80px;
	float: left;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size: 13px;
	top: 50px;
	letter-spacing: 0.5px;
}

.top-right{
	float: right;
	margin-top: -64px;
	background: url(../images/top-r.gif) no-repeat; 
	height: 64px; 
	width: 5px;
	font-size: 2px;
}

.bottom-left{	
	background: url(../images/bottom-l.gif) no-repeat; 
	height: 5px; 
	font-size: 2px;
	margin-right: 5px;
}

.bottom-right{
	float: right;
	margin-top: -5px;
	background: url(../images/bottom-r.gif) no-repeat; 
	height: 5px; 
	width: 5px;
	font-size: 2px;
}

.no-gap{
	margin: 0;
}

.short-top-left {
	background: url(../images/cpanel.png) no-repeat center left;
	height: 64px;
	font-size: 2px;
	margin-right: 5px;
}

#memo-container{
	width: 87%;
	margin: 0 auto;
	padding: 0px 5px 20px 0px;
	float: left;
	font-size: 95%;
}

#memo-container .content{	
	height: 175px;
	overflow: auto;
}

.memo-top-left {
	background: url(../images/memo-top-l.gif) no-repeat;
	height: 64px;
	font-size: 2px;
	margin-right: 5px;	
}

#notes-container{
	width: 87%;
	margin: 0 auto;
	padding: 0px 5px 20px 0px;
	float: left;
	font-size: 95%;
}
.notes-top-left {
	background: url(../images/notes-bottom-l.gif) no-repeat;
	height: 64px;
	font-size: 2px;
	margin-right: 5px;
}

#events-container{ /* old version of events container */
	margin: 0 auto;
	width: 87%;
	padding: 0px 5px 20px 0px;
	float: left;
	font-size: 95%;
}

.events-content2 { /* for ver2 */
	background: #fff;
	height: 200px;
	overflow: auto;	
}

.events-top-left {
	background: url(../images/events-top-l.gif) no-repeat;
	height: 64px;
	font-size: 2px;
	margin-right: 5px;
}

#events-container2 {
	width: 95%;
	margin-right: 5px;
}

.events-top-left2 {	
	background: url(../images/events-icon2.png) no-repeat; /*use events-icon.png for transparent bg*/
	border-bottom: 3px solid #abc3d7;
	height: 66px;
	font-size: 2px;
	/*margin-right: 5px;*/
}

#tabs-container2 {
	width: 95%;
}

.tabs-top-left2 {	
	/*background: url(../images/events-icon2.png) no-repeat;*/ /*use events-icon.png for transparent bg*/
	/*border-bottom: 3px solid #abc3d7;*/
	height: 30px;/*66px; depending on the height of the background image*/
	font-size: 2px;
	/*margin-right: 5px;*/
}

#announcements-container{
	width: 87%;
	margin: 0 auto;
	padding: 0px; /*10px 5px 20px 5px;*/
	padding-bottom: 10px;
	float: left;
	font-size: 95%;
}

#announcements-container .content{	
	height: 222px;
	overflow: auto;
}

.announcements-top-left {
	background: url(../images/announcement-top-l.gif) no-repeat;
	height: 64px;
	font-size: 2px;
	margin-right: 5px;
}

div.fancy-separator{
	background: #fff url(../../../skin-images/separator2.gif) no-repeat center center;
	height: 30px;
}

#right-col{
	width: 32%;
	float: right;
}

#middle-col{
	width: 31%;
	float: left;	
}	

#left-col{
	width: 33%;
	float: left;
	padding-left: 30px;
}

/** html #left-col {*/
/*	margin-left: 0px;*/
/*	padding-left: 30px;*/
/*	width: 33%;*/
/*}*/

#main-wrap{
	margin: 0 auto;
	padding: 0 0 30px;
	width: 99.5%;
	min-width: 900px;
}

/* min-width fix for IE6.0 */
/*
* html #minwidth-main-wrap {
	border-left: 900px solid #fff; 
	position: relative; 
	float: left; 
	z-index: 1;
}

* html #container-main-wrap {
	margin-left: -900px; 
	position: relative; 
	float: left; 
	z-index: 2;
}
*/
/* end of min-width fix */

#employee-container{
	background: url(../../../skin-images/rightpad2.gif) center right no-repeat;
	width: 90%;
	margin: 0 auto;
	padding: 10px 15px 20px 0px;
	float: left;
	font-size: 95%;
}

.employee-content{	
	padding: 5px 10px 3px 10px;
}

.employee-top-left {
	/*background: url(../images/no-photo.gif) no-repeat;*/
	height: 64px;
	font-size: 2px;
	margin-right: 5px;
}


div.name-header{
	padding: 30px 0 0 60px;
	float: left;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	top: 50px;
	letter-spacing: 1px;
}

div.comment{
	background: url(../images/comment.gif);
	margin-top: 30px;
	display: block;
	cursor: pointer;
	height: 16px;
	width: 16px;
	float: left;
}

a {
	text-decoration: none;
	color: #0079a6;
	padding-top: 5px;
}

a:visited{
	color: #0079a6;
}

a:hover{
	text-decoration: underline;
}

/* for header */

#header-2{
	width: 100%;
	height: 35px;
	font-size: 2px;
	margin: 10px 5px 1px 5px;	
	color: #f0f0f0;		
}

* html #header-2{
	margin-bottom: 0px;
}

div.header-2-l{
	background: #3b5998 no-repeat;
	height: 35px;
	z-index: 99;
	line-height: 100%;
	margin-right: 10px;
}

* html div.header-2-l{
	margin-right: 0px;
}

div.header-2-content{
	line-height: 35px;
	height: 35px;
	font-size: 16px;
	padding-left: 10px;
	width: 30%;	
}

div.header-2-r{
	float: right;
	margin: -35px 5px 0 0;
	background: #3b5998 no-repeat;
	width: 5px;
	font-size: 2px;
	height: 35px;	
}

* html div.header-2-r{
	margin: -35px 0 0 0;
}

#nav-wrap{
	padding-left: 5px;	
	height: 25px;
	width: 100%;
	position: relative;
	margin-top: 1px;
}

* html #nav-wrap{
	/*width: 100%;*/
}
.nav-content {
	/* width: 90%; */
	background-color: #dcdcdc;
	color: #000;
	font-size: 90%;
	line-height: 1.6em;
	padding-top: 3px;
	margin-right: 10px;	
}

* html .nav-content{
	margin-right: 7px;
}

.nav-content p {
	/* margin: 0 10px; */
}

.nav-bottom {
	background: url(../images/nav-bottom-r.gif) no-repeat top right; 
}

img.corner {
   width: 5px;
   height: 5px;
   border: none;
   display: block !important;
}

/* account details in header */
#header-account{
	background: #3b5998;
	float: right;
	margin-top: -35px;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
}

a.header-settings{	
	margin-left: 10px !important;
	padding: 0px 10px 0 5px !important;
	background: no-repeat scroll left center;	
}

a.header-settings:hover{
	text-decoration: none;	
}

a.header-settings span {
	padding-left: 15px;
	color: #fff;
}

/* logout */
a.header-logout{	
	margin-left: 0px !important;
	padding: 0px 10px 0 5px !important;
	background: no-repeat scroll left center;	
}

a.header-logout:hover{
	text-decoration: none;	
}

a.header-logout span {
	padding-left: 15px;
	color: #fff;
}

a.read-all{
	background: none;
	padding-left: 15px;
}

a.read-all:hover{
	background: url(../images/arrow-right.gif) no-repeat 0 6px;
}

div.readmore{
	border-left: 1px solid #a7a7a7;
	border-right: 1px solid #a7a7a7;
	background: #e4e4e4;
	padding: 0px 10px 5px;
}

/* date block - header */

#date-block {
	float: right;
	padding-top: 12px; 
}

.date-left {
	text-align: right;
	margin-right: 50px;	
}

* html .date-left {
	text-align: right;
	margin-right: 53px;	
}

.date-right {
	margin: -22px 25px 0 0;
	float: right;
	text-align: center;
	font-size: 90%;
}

* html .date-right {
	margin: -25px 14px 0 0;	
	line-height: 13px;
	font-size: 89%;
}

.date1 {
	text-transform: uppercase;
	text-align: left;
	font-size: 140%;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px dotted #fff;
}

.date2 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1em;
}

.date3 {
	display: block;
	padding: 0;
}

.header-cal-wrap {
	width: 115px;
	background-color: #48a8ff;
	color: #fff;
	height: 65px;
	float: right;
	margin: -36px 5px 0 0;
	
}

* html .header-cal-wrap{
	margin: -36px 5px 0 0;
}

.header-cal-wrap p {
	margin: 0 10px;
}

.header-cal-top { 
	background: url(../images/header-top-r.gif) no-repeat top right; 
}

.header-cal-bottom {
	background: url(../images/header-bottom-r.gif) no-repeat top right; 
}

.header-cal-content{
	height: 55px;
	
}

.header-time{	
	text-align: center;
	font-size: 110%;
	width: 115px;
	padding: 5px 5px 0 0;
}

/* for buttons */

div.red-btn-l{
	background: url(../images/red-btn-l.gif) no-repeat;
	height: 25px;
	width: 4px;
	float: left;
}

div.red-btn-r{
	background: url(../images/red-btn-r.gif) no-repeat;
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.red-btn-fill{
	background: url(../images/red-filler.gif) repeat-x;
	border: 0;	
	height: 25px;
	color: #fff;
	position: relative;	
}

div.grn-btn-l{
	background: url(../images/grn-btn-l.gif) no-repeat;
	height: 25px;
	width: 4px;
	float: left;
}

div.grn-btn-r{
	background: url(../images/grn-btn-r.gif) no-repeat;
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.grn-btn-fill{
	background: url(../images/grn-filler.gif) repeat-x;
	border: 0;	
	height: 25px;
	color: #fff;
	position: relative;	
}

div.blu-btn-l{
	height: 25px;
	width: 4px;
	float: left;
}

div.blu-btn-r{
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.blu-btn-fill{
	height: 25px;
	color: #000000;	
	position: relative;
  	border:1px solid #E6E6E6;
   	cursor: pointer;
   	background-color:#F2F2F2;
	padding:3px;
}

/* button fix for IE6 */
* html div#btn{
	margin: 2px 8px 2px 2px;
}

* html div.blu-btn-l{
	margin-right: -3px;
}

div#btn{
	margin: 2px 5px 10px 2px;
	float: left;
	font-size: 110%;
}

input.blu-btn-fill, input.red-btn-fill, input.grn-btn-fill{
	cursor: pointer;
	margin-top: 0;	
}


/* tables */

table.listView {
	background:#F0F0F0 none repeat scroll 0 0;
	border-right: 1px #8b9dc3 solid;
	border-bottom: 1px #8b9dc3 solid;		
	text-align:center;
	border-collapse: separate;
	border-spacing: 0px;
	/*font-size: 80%;*/
	clear: both;
	width: 100%;
}

table.listView th {
	border-top: 1px #8b9dc3 solid;
	border-left: 1px #8b9dc3 solid;	/*42a8ff*/
	font-weight: normal;
	padding: 0px;
	background-color: #c9d0d6;
}

table.listView tfoot tr td{
	border-left: 1px #8b9dc3 solid;		
	border-top: 2px #8b9dc3 solid;		
}

table.listView tbody tr td {
	/* background: #fff none repeat scroll 0 0; */
	border-left: 1px #8b9dc3 solid;	
	border-top: 1px #8b9dc3 solid;	
	height: 25px;
	padding: 0 4px;
	text-align: left;
}

table.listView tbody tr.even {
	background: #fff;
}

table.listView tbody tr.odd {
	background: #F2FAFB;
}

div.listView-nav a{
	text-decoration: none;
	font-style: normal;
	color: #666666;
}

td.listViewPagination{
	background: #fff;
	border: 0 none;
}

/*----------------------------------------------------------------------------*/
/* no image rounded corners */
/*----------------------------------------------------------------------------*/
.b1  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #a7a7a7; 
	margin:0 5px;
}
.b2  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 2px solid #a7a7a7; 
	border-left: 2px solid #a7a7a7; 
	margin: 0 3px;
}
.b3  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #a7a7a7; 
	border-left: 1px solid #a7a7a7; 
	margin: 0 2px;
}
.b4  {
	height: 2px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #a7a7a7; 
	border-left: 1px solid #a7a7a7; 
	margin: 0 1px;
}

.b5  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #42A8FF; 
	margin:0 5px;
}
.b6  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 2px solid #42A8FF; 
	border-left: 2px solid #42A8FF; 
	margin: 0 3px;
}
.b7  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #42A8FF; 
	border-left: 1px solid #42A8FF; 
	margin: 0 2px;
}
.b8  {
	height: 2px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #42A8FF; 
	border-left: 1px solid #42A8FF; 
	margin: 0 1px;
}

.b9  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #abc3d7; 
	margin:0 5px;
}

.b9  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #abc3d7; 
	margin:0 5px;
}

.b10  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 2px solid #abc3d7; 
	border-left: 2px solid #abc3d7; 
	margin: 0 3px;
}
.b11  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #abc3d7; 
	border-left: 1px solid #abc3d7; 
	margin: 0 2px;
}
.b12  {
	height: 2px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #fff; 
	border-right: 1px solid #abc3d7; 
	border-left: 1px solid #abc3d7; 
	margin: 0 1px;
}

.b13  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #cde1f1; 
	margin:0 5px;
}

.b14  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #cde1f1; 
	border-right: 2px solid #cde1f1; 
	border-left: 2px solid #cde1f1; 
	margin: 0 3px;
}
.b15  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #cde1f1; 
	border-right: 1px solid #cde1f1; 
	border-left: 1px solid #cde1f1; 
	margin: 0 2px;
}
.b16  {
	height: 2px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #cde1f1; 
	border-right: 1px solid #cde1f1; 
	border-left: 1px solid #cde1f1; 
	margin: 0 1px;
}

.b17  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #dcecf9; 
	margin:0 5px;
}

.b18  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #dcecf9; 
	border-right: 2px solid #dcecf9; 
	border-left: 2px solid #dcecf9; 
	margin: 0 3px;
}
.b19  {
	height: 1px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #dcecf9; 
	border-right: 1px solid #dcecf9; 
	border-left: 1px solid #dcecf9; 
	margin: 0 2px;
}
.b20  {
	height: 2px; 
	font-size: 1px; 
	overflow: hidden; 
	display: block; 
	background: #dcecf9; 
	border-right: 1px solid #dcecf9; 
	border-left: 1px solid #dcecf9; 
	margin: 0 1px;
}

div.spacer{	
	display: block;
	font-size: 2px;
	height: 2px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
}

span.memo{
	background: #fff;
	border-right: 1px solid #a7a7a7;
	border-left: 1px #a7a7a7 solid;
	border-top: 1px #a7a7a7 solid;
	border-bottom: 1px dotted #a7a7a7;
	display: block;
	padding: 5px;
}

span.event{
	/*background: #fff url(../images/menu-icons/cal.gif) left center no-repeat;*/
	/*border-right: 1px solid #a7a7a7;
	border-left: 1px #a7a7a7 solid;
	border-top: 1px #a7a7a7 solid;*/
	border-bottom: 1px dotted #abc3d7;
	display: block;
	padding: 5px 5px 5px 10px;
}

span.announcement{
	background: #fff url(../images/no-photo.gif) 5px 50% no-repeat; 
	display: block; 
	padding: 5px 5px 5px 60px;
	border-right: 1px solid #a7a7a7; 
	border-left: 1px #a7a7a7 solid;
}
/*----------------------------------------------------------------------------*/
/* shorcut icon styles */
/*----------------------------------------------------------------------------*/

#shortcuts-container{
	background: url(../../../skin-images/rightpad2.gif) center right no-repeat;
	float: left;
	font-size: 95%;
	margin: 0 auto;
	padding: 10px 22px 20px 5px;
	width: 90%;	
}

* html #shortcuts-container{
	padding-right: 22px;
}

div.cpanel{
	display: block;
}
div.cpanel .cpanel-icon{
	/*border: 1px solid #ccc;*/
	display: block;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	text-align: center;
}

div.cpanel-icon a{	
	color: #666666;
	border: 1px solid #f0f0f0;
	display: block;
	float: left;
	font-style: normal;
	height: 40px;
	line-height: 1.6em;
	text-decoration: none;
	vertical-align: middle;
	width: 65px;
}

* html div.cpanel-icon a{
	width: 80px;
}

div.cpanel-icon a:hover{
	background: #f0f0f0; /*#9FD4FF;*/
	border: 1px solid #3FA9FF;
	color: #666;
	text-decoration: none;	
}

div.cpanel span{
	display: block;
	text-align: center;
}

div.cpanel img{
	margin: 0 auto;
	padding: 5px 0;
}
/* end shorcut icon styles */


/*----------------------------------------------------------------------------*/
/* typo styles */
/*----------------------------------------------------------------------------*/

div.article-wrap{	
	float: left;
	margin-right: 10px;	
	width: 70%;	
}

h1.article-head{
	margin: 10px 5px 5px 0;	
}

div.article-info{
	color: #999999;
	display: block;
	float: left;
	font-style: italic;
	padding: 0 0 5px; 
	position: relative;
	width: 100%;
	height: 20px;
}

div.article-body p{
	margin: 10px 0;
}

* html div.article-body p{
	margin-top: 0;
}

span.createdate {
	background: transparent url(../images/date.gif) left center no-repeat;
	border-right: 1px solid #ccc;
	display: block;
	float: left;
	padding: 0 5px 0 20px;
}

span.createby {
	display: block;
	float: left;
	padding: 0 5px;
}

div.article-separator{
	clear: both;
	border-top: 1px dotted #abc3d7;
	font-size: 1px;
	height: 1px;
	margin-top: 5px;
	width: 100%;
}

div.article-list-wrap{
	/*background: url(../../../skin-images/leftpad2.gif) center left no-repeat;*/
	border-left: 1px dotted #abc3d7;
	float: left;
	height: 400px;
	overflow: auto;
	padding-left: 10px;
	margin-top: 10px;
	width: 25%;
}

div.article-list-head{
	font-size: 120%;
	border-bottom: 2px solid #abc3d7;
	/*margin-bottom: 5px;*/
	padding-bottom: 10px;
}

div.article-list-wrap ul li{
	border-bottom: 1px solid #abc3d7;	
	list-style: none;
}


a.article-list{
	display: block;
	font-size: 11px;
	font-style: normal;	
	text-indent: 0px;
	padding-left: 5px;
	cursor: pointer;
}

a.article-list:hover{
	background: #f0f0f0;
	text-decoration: none;
}

div.article-list-wrap span.list-createdate{
	color: #81ACCF;
	font-style: italic;
}

div.article-list-wrap span.list-title{	
	font-weight: bold;	
}


/*----------------------------------------------------------------------------*/
/* form styles */
/*----------------------------------------------------------------------------*/
form {
	font-size: 11px;	
}

form table.listView {
	font-size: 10px !important;
}

/*----------------------------------------------------------------------------*/
/* tab styles */
/*----------------------------------------------------------------------------*/
#tab-nav{
	margin-left: 10px;
}

#tab-nav ul {
	list-style: none;
	display: table;
	white-space: nowrap;	
	font-size: 11px;
}
	
#tab-nav li {
	display: table-cell;
	margin: 0;
	padding: 0;
}
	
#tab-nav a {	
	float: left;
	color: #6b6b6b;
	background: #c2c2c2 url(../images/tab-top-l4.gif) no-repeat left top;
	margin: 0 2px 0 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	font-style: normal;
}
	
#tab-nav a b {
	float: left;
	display: block;
	background: transparent url(../images/tab-top-r4.gif) no-repeat right top;
	padding: 5px 12px 5px 5px;
}
	
#tab-nav a:hover {
	background: #abc3d7 url(../images/tab-top-l5.gif) no-repeat left top;	
	color: #6b6b6b;
	cursor: pointer;
	padding-left: 5px;
}

#tab-nav a:hover b {
	background: #abc3d7 url(../images/tab-top-r5.gif) no-repeat right top;
	color: #6b6b6b;
	cursor: pointer;
}
	
#tab-nav .current a {
	background: #abc3d7 url(../images/tab-top-l5.gif) no-repeat left top;
	color: #6b6b6b;
	cursor: default;
	padding-left: 5px;
}
	
#tab-nav .current a b {
	float: left;
	display: block;
	background: transparent url(../images/tab-top-r5.gif) no-repeat right top;
	padding: 5px 12px 5px 5px;
}

.tab-bottom{
	width: 100%;
}

* html #tab-nav ul {
	display: inline-block;
}
	
* html #tab-nav ul {
	display: inline;
}
	
* html #tab-nav ul li {
	float: left;
}
	
* html #tab-nav {
	margin-left: -25px;
	text-align: center;
}

#tab-content{
	background: #fff;
	border-left: 1px solid #abc3d7;
	border-right: 1px solid #abc3d7;	
	padding: 0 10px;
}

#tab-content ul li{
	list-style: none;
	line-height: 11px;
	margin: 0px 0;
	padding: 5px 0 5px 20px;
}

#tab-content li.leave-pending{
	background: #FFF6BF url(../images/icon_alert.gif) 2px 3px no-repeat;
	border: 1px solid #FFD324;
	color: #514721;
}
#tab-content li.leave-cancel{
	background: transparent url(../images/icon_stop.gif) 2px 3px no-repeat;
	border: 1px solid  #FBC2C4;
	color: #8A1F11;	
}
#tab-content li.leave-ok{	
	background: #E6EFC2 url(../images/icon_accept.gif) 2px 3px no-repeat;
	border: 1px solid #C6D880;
	color: #264409;
	/*display: block;*/
}

#tab-content .leave-date{
	font-weight: bold;
}

#tab-content ul li span{
	padding-right: 5px;
}

#zippy ul {
    list-style-type:none;
    margin:0 auto;
    padding:0;
}

#zippy li a {
    display:block;
    position:relative;
    border-width:1px 0;
    border-color:#ccc;
    border-style:solid;
    color:#555;
    text-decoration:none;
    margin:4px 1px;
}

#zippy li a span {
    display:block;
    position:relative;
    margin:0 -1px;
    border-width:0 1px;
    border-color:#ccc;
    border-style:solid;
    background-color:#eee;
    padding:2px 20px;
}

#zippy li a:hover {
    border-color:#aaa;
    color:#333;
}

#zippy li a:hover span {
    border-color:#aaa;
    background-color:#ddd;
}

/* Personal status message styles 011009 */
div#status-message-wrap{
	background: url(../../../skin-images/rightpad2.gif) center right no-repeat;
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px 10px 0px;
	float: none;
	font-size: 95%;
	height: 180%;
}

* html div#status-message-wrap{	
	width: 95%;
}

div.personal-status{
	display: inline-block;
	width: 100%;  
}

div.personal-status img{
	float: left;
}

div.personal-status-msg-wrap{
	background: #fff url(../images/status-bg3.gif) left 5px no-repeat;
	padding-left: 3px;
	margin-left: 85px;
}

div.personal-status-msg{
	background: #cde1f1;	
	padding: 5px 12px 5px 10px;
	text-align: justify;
}

div.other-status-list-wrap{
	padding: 5px 0;
	height: 100%;
}

div.other-status-wrap{
	background: #F2F4F7;
	border-bottom: 1px solid #abc3d7;
	margin: 10px 0 20px;
	padding: 0 5px;
	height: 300px;
}

div.other-status-list-wrap img{
	float: left;
}

div.other-status-msg-wrap{
	padding-left: 3px;
	margin-left: 80px;
}

div.other-status-msg{
	text-align: justify;
	padding: 0 5px;
}

div.other-status-title{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #abc3d7;
}

div.other-status-title div.title{
	font-size: 13px;
	float: left;
}

div#divOnline{ /* fixed height for online peeps */
	height: 200px;
}

div.status-message-wrap{
	line-height: 11px;
}

span.quote-open{
	background:transparent url(../images/open-q3.gif) no-repeat scroll right bottom;
	height: 100%;
	margin-right: 2px;
	padding-right:  25px;
}

span.quote-close{
	background:transparent url(../images/close-q3.gif) no-repeat scroll right bottom;
	height: 100%;
	width: auto;
	padding-left: 20px;
}

div.quote-nav{
	display: block;
	height: 16px;
	padding-left: 55px;
	margin-top: 5px;
	float: right;
}

div.btn-quote-next{
	background: transparent url(../images/btn-next.gif) no-repeat;
	height: 16px;
	margin-left: 2px;
	width: 16px;
	float: left;
}

div.btn-quote-prev{
	background: transparent url(../images/btn-prev.gif) no-repeat;
	margin-right: 2px;
	height: 16px;
	width: 16px;
	float: left;
}

div.btn-quote-prev a, div.btn-quote-next a{
	text-decoration: none !important;
	font-style: normal !important;
	height: 16px;
	width: 16px;
	display: block;
	padding: 0;
}

div.quote-nav a:hover{
	text-decoration: none !important;
	font-style: normal !important;
}

div#emailQueue{
	background: #FFD5D5 url(../images/email.gif) 10px 50% no-repeat;
	border: 1px solid #FFACAD;
	height: 30px;
	line-height: 30px;
	padding-left: 35px;
	text-align: left;
}

div#emailQueue a{
	color: #CF3738;
	display: block;
	padding: 0px !important;
}

div#emailQueue a:hover{
	color: #c95050;
	text-decoration: none;
}

/* new SHORTCUT styles 021209 */
#shortcuts-new{
	background: #CDE1F1;
	text-align: center;
	position: absolute;
	top: 146px;
	left: 16px;
	width: 30px;
}

* html #shortcuts-new{
	left: 10px;
}

#shortcuts-new .shortcuts-top{
	background: #fff url(../images/shortcut-top.gif) no-repeat center center;
	height: 4px;
	width: 30px;
	font-size: 1px;
}

#shortcuts-new .shortcuts-bottom{
	background: #fff url(../images/shortcut-bottom.gif) no-repeat center center;
	height: 5px;
	width: 30px;
	font-size: 1px;
}

#shortcuts-new a{
	display: block;
	height: 20px;
	width: 30px;
}

#shortcuts-new ul li{
	list-style: none;
}

#shortcuts-new li.first{
	border-bottom: 1px solid #aed3f0;
}

/* fix for UL displaying as unindented 20080323 */

div#div-memo ul,
div#div-ann ul{
	padding-left: 25px;
}

/* end of fix */