body, p, a, table, tr, th, td, form, input, textarea, select {
	font-size: 14px;
	margin: 0px 5px 0px 5px;
	font-family: Verdana, Helvetica, sans-serif;
}

body {
	background-color: #FFFFFF;
}

a {
	text-decoration: underline
}

a:hover {
	color: #7F9DB9;
}

table {
	border-collapse: collapse;
}

tr, td {
	/*height: 30px;*/
}


td.border {
	border: 1px solid #666666;
}

td.main {
	border: 1px solid #666666;
	background-color: #E8F2FE;
	font-weight: bold;
	color: #000000;
}

td.cell_color {
	border: 1px solid #666666;
	background-color: #E8F2FE;
	color: #000000;
}

td.red_cell {
	background-color: #FF0000;
	color: #FFFFFF;
}

td.nav {
	background-color: #E8F2FE;
}

td.off
{
	border: 1px solid #666666;
	background: #E5E5E5
}

td.on
{
	border: 1px solid #666666;
	background: #99CCFF
}

td.error
{
	border: 1px solid #666666;
	background: #FF0000
}

td.highlight
{
	border: 1px solid #666666;
	background: #FFFF00
}

.header {
	font-weight: bold;
	font-size: 14px;
}

.subheader {
	font-size: 12px;
	font-weight: bold
}

.note {
	font-size: 10px;
}

.red_note {
	color: red;
	font-weight: bold;
}

.yellow_bg_note {
	border: 1px solid #666666;
	background: yellow;
	font-weight: bold;
}

.message {
	font-weight: bold;
	color: #FF0000;
}

.button {
	border: 1px solid;
	font-size: 11px;
	}
	
.buttonOn, .button:hover, .button:focus, .buttonOn:focus {
	font-size: 11px;
	border: 1px solid;
	background-color: #ffffff;
	font-weight: normal;
	}

.print_button {
	border: 1px solid;
	font-size: 11px;
	}
