
/* Default Styles */

a.body:link, a.body:visited {
		color: #444444;
		font-size: 12px;
		text-decoration: underline;
	}

a.body:hover {
	color: #666666;
	text-decoration: underline;
	}


img {
	border: 0;
	}


table,td {
	color: #444444;
	font-size: 100%;
}

h1 {
	color: #6B6B6B;
	/*font-family: Arial, Verdana, Helvetica, sans-serif;*/
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 6px;
	}

h2  {
	color: #666666;
	/*font-family: Arial, Verdana, Helvetica, sans-serif;*/
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	}

h3  {
	/*color: #7f0000;*/
	/*font-family: Arial, Verdana, Helvetica, sans-serif;*/
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
	}



.moduleTitle {
	border-bottom: 2px solid #ABC3D7;
    margin-right: 10px;
}



.minilink, a.miniLink:link {
	color: #E90000;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

.message {
	color: #7f0000;
	/*font-family: Arial, Verdana, Helvetica, sans-serif;*/
	font-size: 8pt;
	font-weight: bold;
	margin-top:8px;
	margin-bottom:16px;
	}

.formLink, a.formLink:link, a.formLink:visited {
	color: #808080;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

a.formLink:hover {
	color: black;
}



hr {
	height: 1px;
}


.button {
	/*jlm border: 1px solid #444444;
	background-color: #ffffff;
	font-size: 10pt;
	color: #444444;
	font-weight: normal; jlm*/
	padding:5px;
	font-size: 8pt;
	}


.list_button {
	/*border: 1px solid #444444;
	background-color: #ffffff;
	font-size: 9pt;
	color: #444444;
	font-weight: normal;
	background-image: url(skin-images/formButtonBg.gif); */
	font-size: 9pt;
	}


input, select {
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	}

textarea {

	font-size: 8pt;
	}

.checkbox,.radio {
	border:0px;
	background-color: transparent;
	margin: -2px;
	padding: 0px;
	vertical-align: bottom;

	}


/* for the main screen navigation tabs */

.currentTab {
	font-size: 11px;
	color: #6e6e6e;
	font-weight: bold;
	padding-top: 1px;
	}

a.currentTab:link, a.currentTab:visited {
	font-size: 11px;
	font-weight: bold;
	color: #6e6e6e;
	text-decoration: none;
	}

a.currentTab:hover {
	font-size: 11px;
	font-weight: bold;
	color: #444444;
	text-decoration: none;
	}

.otherTab {
	font-size: 11px;
	font-weight: bold;
	color: #6e6e6e;
	}
a.otherTab:link, a.otherTab:visited {
	font-size: 11px;
	font-weight: bold;
	color: #6e6e6e;
	text-decoration: none;
	}
a.otherTab:hover {
	font-size: 11px;
	font-weight: bold;
	color: #3C3C3C;
	text-decoration: none;
	}



/* welcome user and date bar and last view  */

.welcome, a.welcome:link, a.welcome:visited {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ACACAC;
	border-bottom: 1px solid #000000;
	padding-left: 10px;
	}
a.welcome-link, a.welcome-link:visited{
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ACACAC;
	padding-left: 10px;
	text-decoration: none;
}
a.welcome-link:hover {
	color: #666666;
}

.lastView {
	color: #666666;
	background-color: #dddddd;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
	}

a.lastViewLink:link, a.lastViewLink:visited {
	color: #444444;
	text-decoration: underline;
	border-bottom: 0px;
	padding-left: 0px;
	}
a.lastViewLink:hover {
	color: #666666;
	text-decoration: none;
	border-bottom: 0px;
	}


.listView {
	font-size: 110%;
}

table.listView th {
	font-size: 110%;
	color: #666666;
	font-weight: bold;
	/*text-align: left;*/
	padding-left: 5px;
	padding-right: 5px;
	/*border-bottom: 1px solid #980000;*/
	height: 20px;
}

.listViewTr {
	color: #666666;
	font-weight: bold;
	/*text-align: left;*/
	background-image: url(skin-images/listViewBg.gif);
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #980000;
	height: 20px;
}
.listViewSubHead {
	background-color: #ffffff;
}

a.listViewTdLink:link, a.listViewTdLink:visited {
	color: #002780;
	text-decoration: none;
}

a.listViewTdLink:hover {
	text-decoration: underline;
}

table.listView th a:link, table.listView th a:visited {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

table.listView th a:hover {
	color: #222222;
	font-weight: bold;
	text-decoration: none;
}



.evenrow {
	font-size: 12px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-top: 2px;
	background-color: #f1f1f1;
}

.oddrow {
	font-size: 12px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-top: 2px;
	background-color: #fdfdfd;
}

.listViewHR {
	background-color: #cccccc;
}


.listViewPagination {
	font-size: 110%;
	color: #999999;
	padding-right: 5px;
	padding-left: 5px;
     text-align: right;
}

a.listViewPagination:link, a.listViewPagination:visited {
	color: #E90000;
	font-weight: normal;
	text-decoration: none;
}

a.listViewPaginationLink:link, a.listViewPaginationLink:visited {
	color: #E90000;
	font-weight: normal;
	text-decoration: none;
}

a.listViewPaginationLink:hover {
	color: #ff0000;
	text-decoration: none;
}



/* main tab forms */

.tabForm {
	background-color: #efefef;
	border: 1px #9E9E9E solid;
	background-image: url(skin-images/searchFormBg.gif);
	background-position: bottom;
	background-repeat : repeat-x;
	padding: 2px;
}

.inputForm {
	background-color: #efefef;
	border-top: 2px #abc3d7 solid;
	border-top: 1px #abc3d7 solid;
	padding: 3px;
}

.dataLabel {
	font-weight: bold;
	vertical-align : top;
	font-size: 8pt;
	padding-left: 8px;
}
.dataLabel2 {
	font-size: 8pt;
	font-weight: normal;
	vertical-align : top;
	color: #808080;
}

.dataField {
	font-weight: normal;
	vertical-align : top;
	padding-right: 4px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	height: 0;
}

.dataField td {
	font-weight: normal;
	vertical-align : top;
	padding-right: 6px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	height: 0;
}


a.footerLink:link, a.footerLink:visited {
	color: #444444;
	text-decoration: underline;
	}

a.footerLink:hover {
	color: #666666;
	text-decoration: underline;
	}

.footerHR {
color: #666666;
	}

.copyRight {
	font-size: 11px
	}

.footerHR {
	color: #666666;
	}

.jscal_trigger {
	cursor:pointer;
	}


.minilink, a.miniLink:link {
	color: #E90000;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}


.formLink, a.formLink:link, a.formLink:visited {
	color: #808080;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
a.formLink:hover {
	color: black;
}




/* side menu */
	div#side_menu{
		z-index: 900;	
	}
	table.leftColumnModuleHead th {
	/*left column styles*/
		background: #fff;
		border-bottom: 2px solid #ABC3D7;
		border-top: 0 none;
		border-left: 0 none;
		font-size: 12px;
		font-family: arial;
		text-align: left;
		padding-left: 6px;	
		padding-top: 8px;
		padding-bottom: 4px;	
	}
	
	.subMenuLink {
		text-decoration: none;
		border-bottom: 0px;
		padding-left: 0px;
		cursor: pointer; 
		}
	a.subMenuLink:hover {
		text-decoration: none;
		border-bottom: 0px;
		}
	.leftColumnModuleName {
		padding-left: 3px;	
		padding-top: 4px;
		padding-bottom: 4px;		
	}

	.subMenu {
		font-size: 11px;
		color: #000;
		background-color: #FFF;
		padding: 0px;
		/*border-bottom: 1px solid #ABC3D7;*/
		/*width: 160px;*/
		}
		
	.subMenuTDIcon {
		font-size: 11px;
		color: #000;
		background-color: #FFF;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-left: 3px;
		padding-right: 3px;
		border-bottom: 1px solid #ABC3D7;
		background-repeat: no-repeat;
		}
	.subMenuTD {
		font-size: 11px;
		color: #000;
		background-color: #FFF;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-right: 10px;
		border-bottom: 1px solid #ABC3D7;
		}
	a.subMenuLink:link, a.subMenuLink:visited {
		color: #000;
		text-decoration: none;
		padding-left: 0px;
		}
	a.subMenuLink:hover {
		color: #000;
		text-decoration: none;
		}

	ul.subMenu li
		{
		list-style: none;
		margin: 0px;
		border: 0px;
		border-bottom: 1px solid #ABC3D7;
		padding: 3px 3px 3px 0px;
		font-weight: bold;
        font-size: 11px;
		}

	ul.subMenu li a {	
		display: block;
		border: 0px;
		text-decoration: none;
		color: #444;
		text-align: left;
		font-weight: bold;
		}	
		
	ul.subMenu li a:hover {
		background: #cedce9;
		color: #000;
		text-decoration: none;
	}
	* html ul.subMenu li a img{
		margin-right: 5px;
	}
		
	ul.subMenu li span {
	
		display: block;
		border: 0px;
		text-decoration: none;
		text-align: left;
		padding: 3px 3px 3px 0px;
		}	
		
	ul.subMenu li span:hover {
		color: #000;
		}		
	
	
.raffle_button {font-size:11pt; width:20em; height:28px; background-image:url(skin-images/formButtonBg2.gif);}

.required {color:#E10000; font-size:11px;}

.error-field {color:#D20000; font-weight:bold;}
.error-gen {color:#D20000; font-weight:bold;}


.addrToggle, a.addrToggle:link {
	color: #808080;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}






/* action box */
.errorbox, .notifybox, .confirmbox {
	background-color: #FFF;
}

.errorbox h2, .notifybox h2, .confirmbox h2 {
	padding: 2px 5px 4px 25px;
	color: #FFF;
}

/* error notification box */
.errorbox {
	font-size: 100%;
	width: 50%;
}

.errorbox h2 {
	font-size: 100%;
	background: url(../../../skin-images/icon-alert.gif) 5px 2px no-repeat;
	background-color: #CC3333;
}

.errorbox li {
	color: #B90000;
	font-size: 100%;
	padding-left: 25px;
}


/* notificatiosn box */
.notifybox {
	font-size: 90%;
	width: 50%;
}

.notifybox h2 {
	background:url(../../../skin-images/icon-notification.gif) 5px 2px no-repeat;
	background-color: #2DB02D;
	font-weight:bold;
	font-size: 120%;
}
.notifybox li {
	color:#2DB02D;
	font-size: 110%;
	padding: 5px 0px 15px 15px;
}


/* confirmation box */
.confirmbox {
	border-bottom:1px solid #abc3d7;
	background-color: #fff;
	font-size: 80%;
	width:100%;
}

.confirmbox h2 {
	background:url(../../../skin-images/icon-confirmAction.gif) 5px 2px no-repeat;
	background-color:#CCA633;
}





table.filterForm {
	font-size: 110%;	
}

table.filterForm input{
	border: 1px solid #ccc;
	padding-left: 3px;
	font-size: 100%;	
}

table.dataForm input{
	background: #fff;
	border: 1px solid #ccc;
	font-size: 11px;
	height: 20px;	
	padding-left: 3px;
}

table.dataForm input:hover{
	border: 1px solid #ABC3D7;	
}

table.dataForm input:focus{
	border: 1px solid #ABC3D7;
	outline: 1px solid #ABC3D7;
}

input.checkbox{
	border: 0 !important;
}
input.checkbox:focus{
	border: 0 !important;
	outline: 0 !important;
}

table.dataForm tbody tr.dataRow td{	
	border-bottom: 1px solid #ABC3D7;
	height: 25px;
	padding: 2px 5px;	
}

table.dataForm td.dataRowLabel{	
	background: #f0f0f0;
	padding-left: 10px !important;
	width: 20%;
}

table.dataForm tbody tr.dataRowField td{
	/*background: #f0f0f0;
	padding-left: 10px !important;*/
	border-bottom: 0;
	width: 80%;
}

table.dataForm th{
	border: 0;
	border-bottom: 2px solid #ABC3D7;
	font-size: 120%;
	text-align: left;
}

tr.dataFormButton td{		
	padding-top: 5px;
}

tr.dataFormButtonLast td{
	border-top: 1px solid #abc3d7;
	padding-top: 5px;
	padding-bottom: 10px;
}

tr.dataFormButtonLast input.button,
tr.dataFormButton input.button{	
	background: #ECF1F4 url(../../../skin-images/formButtonBg3.gif) center top repeat-x;	
	border: 1px solid #ABC3D7;
	color: #444444;
	cursor: pointer;
	height: 22px;
}
div.dataFormButton input.button{	
	background: #ECF1F4 url(../../../skin-images/formButtonBg3.gif) center top repeat-x;	
	border: 1px solid #ABC3D7;
	color: #444444;
	cursor: pointer;
	height: 22px;
}

.modal-dialog {
  width: 680px;
}

#add_recipient{
    
	background: #ECF1F4 url(../../../skin-images/formButtonBg3.gif) center top repeat-x;	
	border: 1px solid #ABC3D7;
	color: #444444;
	cursor: pointer;
	height: 22px;
        margin: 10px 10px 10px 0px;
}