// General Stylesheet


/* override */
.navbar-fixed-top {
	border-width:0 !important;
}
 
 

 /* general styling */
body  {
	background-color: #FFFFFF;
	color: #434343;	
	font-size: 90%;
	line-height: 1.3em;
}
/* font family */
div,p,h1,h2,h3,h4,h5,h6,a,span, input, select, button {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#444444;
}

table, td {
	color: #444444;
	font-size: 95%;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

h1 {
	color: #6B6B6B;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 6px;
}
h2 {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}			

a {
	color: #0079A6;
	padding-top: 5px;
	text-decoration: none;
}
a:visited {
	color: #0079A6;
}
a:hover {
	text-decoration: underline;
}	

/* sections of the page */

div#container {
	padding:0 20px; 
}

div#content-wrapper {
	width: 100%;
	margin: 20px auto; 
	overflow:hidden;	
}

div#page_title {
	margin:20px 0;	
	font-size:30px;
}	

div#top-wrapper {
	width:100%;	
	margin:0 0 20px  0;
}

#listform label {	
	display:inline-block;
	margin:0 5px 0 0;
	cursor:pointer;
}

div.buttons {
	margin:20px 0;
}

div.success-message {
	display:block;
	color:#0FAA31;
	font-size:20px;
	text-align:center;
	margin:20px 0;
}

div.failed-message {
	display:block;
	color:red;
	font-size:20px;
	text-align:center;
	margin:20px 0;	
}


/* login form */
div#login_form_div {
	margin:100px auto;
}

/* top links */
div#top-links {
	border-top:solid 1px #8B9DC3;
	border-bottom:solid 1px #8B9DC3;
	padding:5px 0;
	margin:10px auto;
}

/* messages */
div.error-message {
	font-size: 115%;
	margin: 0 auto;
	text-align: center;
	color:red;
}

div.system-message {
	font-size: 115%;
	margin: 0 auto;
	text-align: center;
	
}		

/* search form */

/* search result */
div#search-results {
	 
	margin:20px auto;
}

table.table_data {
	background: none repeat scroll 0 0 #F0F0F0;
	border-bottom: 1px solid #8B9DC3;
	/*border-collapse: collapse;*/
	border-collapse: separate;
	border-right: 1px solid #8B9DC3;
	border-spacing: 0;
	clear: both;
	text-align: center;
	width: 100%;				
}

table.table_data th {
	background-color: #C9D0D6;
	border-left: 1px solid #8B9DC3;
	border-top: 1px solid #8B9DC3;
	font-weight: normal;
	padding: 0;			
}

table.table_data td {
	border-left: 1px solid #8B9DC3;
	border-top: 1px solid #8B9DC3;
	height: 25px;
	padding: 0 4px;
	text-align: left;			
}

table.table_data td.odd {
	background-color: #FDFDFD;
	 
}

table.table_data td.even {
	background-color: #F1F1F1;
	
}

table#table-results {
	width:100%;
	margin:0 auto;
}

/* search form */
span.required {
	color: red;
	margin: 2px;
}

input.button {
	background-color: #F2F2F2;
	border: 1px solid #E6E6E6;
	color: #000000;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	padding: 3px 15px;
	text-decoration: none;
}

input, select {
	font-family: "Trebuchet MS",Arial,Verdana,Helvetica,sans-serif;				
}			

div#search_form {
	margin:10px auto;
	padding:10px;	
}

/* pagination */
div#pagination-links * {
	font-size:90%;
}

div#pagination-links a,
div#pagination-links a:hover,
div#pagination-links a:link {
	text-decoration:none;
}

/* crud form */
form#crud_form {

}

 
/* form errors */
div.form-errors, span.field-errors {
	color:red;
}
	
